doctype html
html
  head
    meta(charset='utf8')
    meta(name="theme-color" content="#ffffff")
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1")
    meta(name="description" content="A community based, open source social network")
    title #{title}
    link(rel='stylesheet', href='/components/bootstrap/bootstrap.css')
    style.
      body{ padding-top:80px; word-wrap:break-word; }
  body
    center
      .col-sm-6(style='float:center;')
        .well
          h3
            span.fa #{subjecttitle}               
          p
            strong #{message}
