html
  head
    title #{title}
    link(rel='stylesheet', href='/components/bootstrap/bootstrap_paper.css')
    style.
      body{ padding-top:80px; word-wrap:break-word; }
  body
    center
      .col-sm-6(style='float:center;')
        .well
          h3
            span.fa #{errormessage}               
          p
            strong #{message}