html
  head
    meta(charset='utf8')
    //color for chrome
    meta(name="theme-color" content="#ffffff")
    title Ping
    //link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
    link(rel='stylesheet', href='/components/bootstrap/bootstrap_paper.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    script(src='/components/angular/angular.js')
    script(src='/components/jquery/jquery.js')
    script(src='/components/jquery/jquery-ui/jquery-ui.js')

    // javascript files
    script(src='/javascripts/home/home.js')
    script(src='/javascripts/ajax.js')
    script(src='/javascripts/bg.js')
    script(src='/javascripts/start.js')
    script(src='/javascripts/misc.js')
    script(src='/javascripts/info.js')

    script.
        $(document).ready(function() {
            home_start();
        });

  body
    .header
        .header-content
            img#logo(src='/images/ping_logo.png')
            #container
                p#newpost create new post
                p#newsub create new sub
                p#errors
    center
        #content(ng-app="content")
            #newpostpanel(ng-controller="new_post")
                textarea#textinput.longInput.input(cols='30' ng-model="post_text" placeholder="what's on your mind?")
                br
                #postpanelbottom(ng-controller="sub_fetch" ng-init="init()")
                    select#subselect(ng-click="init()")
                        option(ng-repeat="sub in followedSubs track by $index" value="{{sub}}") {{sub}}
                    input#submitpostbutton(type="button" value="Submit" ng-click="submit()")
            #newsubpanel(ng-controller="new_sub")
                input#subnameinput.input(type="text" placeholder="enter the sub's new name..." maxlength="20" ng-model="sub_name")
                br
                input#submitsubbutton(type="button" value="Submit" ng-click="submit()")
        