body{
    margin:0px;
    background:#d3d3d3;
}

/* TOP HEADER */
.header {
    width:100%;
    position:fixed;
    top:0px;
    height:50px;
    background:#ffffff;
    box-shadow: 1px 1px 5px #888888;
    transition: top 0.2s ease-in-out;
}

.header-content{
    margin: 10px;
    
}

#container{
    padding-top: 5px;
}

#errors{
    font-weight: bold;
    float: right;
}

#link_profile{
    font-weight: bold;
    float: right;
    cursor: pointer;
}

#logo{
    width: 90px;
    height: 35px;
    float:left;
    cursor: pointer;
}

#newpost{
    cursor: pointer;
    float:left;
    margin-left: 15px;

    /*make the text unselectable for the user*/
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#newsub{
    cursor: pointer;
    float:left;
    margin-left: 10px;

    /*make the text unselectable for the user*/
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logout{
    cursor: pointer;
    float:left;
    margin-left: 10px;

    /*make the text unselectable for the user*/
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* TOP HEADER END */

/* CONTENT */
#newpostpanel{
    background-color: #fff;
    height: 270px;
    width: 400px;
    margin-top: 200px;
    padding: 10px;
    display: inline-block;
}

#textinput{
    width: 380px;
    height: 75px;
    max-width: 380px;
    max-height: 75px;
}

#postpanelbottom{
    margin-top: 10px;
}

#subselect{
    margin-right: 10px;
    width: 150px;
}

#newsubpanel{
    background-color: #fff;
    height: 150px;
    width: 400px;
    margin-top: 200px;
    padding: 10px;
    display: inline-block;
}

#subnameinput{
    margin-top: 10px;
    width: 300px;
}

#submitsubbutton{
    margin-top: 12px;
}

#content{
    display: inline-block;
}
/* CONTENT END */