body{
  width: 100%;
  padding: 0;
  margin: 0;
}

#bgcontainer{
  position: fixed;
  z-index: -1; 
  top: 0; 
  left: 0; 
  background-color: white;
  overflow: hidden;
}

#bgcontainer img.bgfade{
  position:absolute;
  display: none;
  width: 100%;
  height: 120%; /*120% makes the image look less stretched*/
  z-index: -100;
}

#footer{
  width:100%;
  height:35px;
  position:absolute;
  bottom:0;
  left:0;
  background:#fff;
  overflow: hidden;
}

#footer img{
  float:left;
  padding-top: 5px;
  height: 20px%;
  width: 70px;
}

#footer p{
  float:right;
  padding-top: 5px;
  padding-right: 5px;
  color:black;
  font-weight: bold;
}

#loginpanel{
  padding: 10px;
  position: absolute;
  margin: -100px 0 0 -200px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  width: 350px;
  height: 180px;
}

#loginbutton_login{
  width:100px;
  margin-top: 20px;
}

#checkbox_div{
  margin-top: 10px;
}

#label_saveuname{
  padding-right: 5px;
}

#regbutton_reg{
  margin-top: 20px;
  width: 200px;
}

#gotoreg_login{
  margin-top: 0px;
  cursor: pointer;
}

#registerpanel{
  padding: 10px;
  position: absolute;
  margin: -100px 0 0 -200px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  width: 350px;
  height: 245px;
}

#gotologin_reg{
  margin-top: 10px;
  cursor: pointer;
}