body{
  /*background: #000 url("/images/austria_sg.jpg");*/
}

#loginpanel{
  padding: 10px;
  position: absolute;
  margin: -100px 0 0 -200px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  width: 350px;
  height: 180px;
  
}

#loginbutton_login{
  width:100px;
  margin-top: 20px;
}

#checkbox_div{
  margin-top: 10px;
}

#label_saveuname{
  padding-right: 5px;
}

#regbutton_reg{
  margin-top: 20px;
  width: 200px;
}

#gotoreg_login{
  margin-top: 0px;
  cursor: pointer;
}

#registerpanel{
  padding: 10px;
  position: absolute;
  margin: -100px 0 0 -200px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  width: 350px;
  height: 245px;
}

#gotologin_reg{
  margin-top: 10px;
  cursor: pointer;
}